# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build
dist

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Database
/db/data
/vector-db/data

# OS
.DS_Store
Thumbs.db

.gitconfig-temp

package-lock.json